@charset "UTF-8";
:root {
  --orange: #D45B00;
  --red: #C80A00;
}

/* ==============================
  || breakpoints
============================== */
/* ==============================
  中央寄せ
============================== */
main {
  background: #000;
  color: #fff;
}

/* ==============================
  ||Header
============================== */
.header {
  height: 70px;
  background-image: url("../images/bg/bg_header.webp");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: 1px solid #fff;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
  z-index: 10000;
}
.header__logo {
  width: 157.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__nav {
  display: none;
}

.drawer__btn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10002;
  width: 70px;
  height: 70px;
  overflow: hidden;
  cursor: pointer;
}
.drawer__btn span {
  display: block;
  width: 40%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.3s;
}
.drawer__btn span:nth-child(1) {
  transform: translate(-50%, -12px);
}
.drawer__btn span:nth-child(2) {
  transform: translate(-50%, -50%);
}
.drawer__btn span:nth-child(3) {
  transform: translate(-50%, 10px);
}
.drawer__btn.active span:nth-child(1) {
  transform: translate(-50%, 0) rotate(45deg);
}
.drawer__btn.active span:nth-child(2) {
  transform: translate(100%, 0);
  opacity: 0;
}
.drawer__btn.active span:nth-child(3) {
  transform: translate(-50%, 0) rotate(-45deg);
}
.drawer__menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10001;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #000;
  transition: 0.3s;
  transform: translateX(100%);
  opacity: 0;
}
.drawer__menu.active {
  transform: translateX(0);
  opacity: 1;
}
.drawer__bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  transform: translateX(100%);
  opacity: 0;
  cursor: pointer;
}
.drawer__bg.active {
  transform: translateX(0);
  opacity: 1;
}

.menu__list {
  color: #fff;
  padding-top: 150px;
  width: 80%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.menu__list a {
  text-decoration: none;
  display: block;
  width: 100%;
}
.menu__item {
  line-height: 3;
  border-bottom: 1px solid #fff;
}

@media screen and (min-width: 850px) {
  .header {
    background-repeat: repeat;
    background-size: 600px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 1rem;
  }
  .header__logo {
    width: 225px;
    position: static;
    transform: translate(0, 0);
    margin-right: 1rem;
  }
  /* ==============================
    // header navigation
  ============================== */
  .header__nav {
    display: block;
  }
  .nav__list {
    display: grid;
    grid-template-columns: repeat(4, 15vw) 117.9px;
    grid-template-rows: repeat(1, 100px);
    align-items: center;
  }
  .nav__item {
    color: #fff;
    text-align: center;
    height: 60px;
    display: grid;
    align-items: center;
    letter-spacing: 4px;
    font-weight: 600;
  }
  .nav__item:hover:not(.webshop) {
    background: var(--red);
    border-radius: 30px;
  }
  .nav__item span {
    display: block;
    font-size: 0.625rem;
    letter-spacing: 1.5px;
  }
  .nav__item.webshop {
    background: var(--red);
    height: 99px;
    margin-left: 10px;
  }
  .nav__item.webshop a {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    place-items: center;
    justify-items: center;
  }
  .drawer__btn {
    display: none;
  }
}
/* ==============================
  || SALE BUTTON
============================== */
.sale__button {
  max-width: 796px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}
.sale__button a {
  display: block;
  width: 100%;
  max-width: 382px;
  margin: 0 auto 1rem;
}
.sale__button a:hover {
  opacity: 0.75;
}
@media screen and (min-width: 850px) {
  .sale__button:not(.single) {
    display: flex;
    justify-content: space-between;
  }
  .sale__button.single a {
    margin-left: auto;
    margin-right: auto;
  }
  .sale__button a {
    margin: 0 0.5rem;
  }
}

/* ==============================
  ||footer nav
============================== */
.footer-nav__hl-lv3 {
  font-size: 1.125rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.footer-nav__wrap > * {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 850px) {
  .footer-nav__wrap {
    display: flex;
    justify-content: space-between;
  }
  .footer-nav__wrap > * {
    width: 32%;
  }
}
.footer-nav__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
}
.footer-nav__list:not(:last-child) {
  margin-bottom: 2rem;
}
@media screen and (min-width: 850px) {
  .footer-nav__list:not(:last-child) {
    margin-bottom: 0;
  }
}
.footer-nav__list:before {
  position: absolute;
  content: "";
  display: block;
  width: 8px;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/parts/border_or_yoko.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: 0 0;
}
.footer-nav__list:after {
  position: absolute;
  content: "";
  display: block;
  width: 8px;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url("../images/parts/border_or_yoko.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: 0 0;
}
.footer-nav__list--head {
  position: relative;
  width: 100%;
  display: inline-block;
  height: 30px;
  background-image: url("../images/parts/border_or.png");
  background-size: 2px 8px;
  background-repeat: repeat-x;
  background-position: top;
  z-index: 2;
}
.footer-nav__list--head:before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background-image: url("../images/parts/corner_or.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.footer-nav__list--head:after {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  background-image: url("../images/parts/corner_or.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: rotate(90deg);
}
.footer-nav__list--foot {
  position: relative;
  width: 100%;
  display: inline-block;
  height: 30px;
  vertical-align: bottom;
  background-image: url("../images/parts/border_or.png");
  background-size: 2px 8px;
  background-repeat: repeat-x;
  background-position: bottom;
  z-index: 2;
  margin-top: auto;
}
.footer-nav__list--foot:before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  bottom: 0;
  left: 0;
  background-image: url("../images/parts/corner_or.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  background-position: 0 0;
}
.footer-nav__list--foot:after {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  bottom: 0;
  right: 0;
  background-image: url("../images/parts/corner_or.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: rotate(180deg);
}
.footer-nav__inner {
  color: #fff;
  width: 90%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.footer-nav__inner a {
  text-decoration: none;
}
.footer-nav__inner a:hover {
  opacity: 0.75;
}
.footer-nav__img {
  margin-bottom: 1rem;
}
.footer-nav__def {
  text-align: center;
}
.footer-nav__dttl {
  font-size: 22px;
  margin-bottom: 1rem;
}
.footer-nav__dttl * {
  font-weight: 600;
}
.footer-nav__dttl span {
  display: block;
  font-size: 0.75rem;
}
.footer-nav__desc {
  letter-spacing: 1.4px;
}

/* ==============================
  ||footer
============================== */
.footer {
  background-image: url("../images/bg/bg_menu.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 0.875rem;
  padding-top: 5.5rem;
  padding-bottom: 5rem;
}
.footer__inner {
  width: 95%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}
.footer__head {
  width: 275px;
  margin-left: auto;
  margin-right: auto;
}
.footer__logo {
  width: 235px;
  margin-left: auto;
  margin-right: auto;
}
.footer__tel {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1.3px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.footer__sns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__info {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #fff;
  display: grid;
  grid-template-columns: auto 1fr;
}
.footer__info * {
  line-height: 2;
}
.footer__info dd {
  text-align: left;
}

@media screen and (min-width: 850px) {
  .footer__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
  }
  .footer__head {
    width: 100%;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    align-items: center;
  }
  .footer__tel {
    grid-row: 2/3;
    font-size: min(2.3vw, 26px);
    align-self: flex-start;
  }
  .footer__sns {
    width: 120px;
    padding-left: 2rem;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(2, 60px);
    grid-template-rows: repeat(2, 40px);
  }
  .footer__info {
    border-top: none;
    border-left: 1px solid #fff;
    padding-left: 2rem;
    margin-top: 0;
    padding-top: 0;
  }
}
.footer__button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  z-index: 2;
}
@media screen and (min-width: 850px) {
  .footer__button {
    display: none;
  }
}
.footer__button > a {
  width: 48%;
  height: 54px;
  line-height: 54px;
  max-width: 250px;
  text-align: center;
  margin-left: 0.15rem;
  margin-right: 0.15rem;
  background: #c80a00;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.footer__button > a span {
  position: relative;
}
.footer__button > a span:before {
  position: absolute;
  content: "";
  display: inline-block;
  background-size: contain;
  background-position: center center;
}
.footer__button > a span.--tel {
  padding-left: 27px;
}
.footer__button > a span.--tel:before {
  top: 0;
  left: 0;
  width: 24.66px;
  height: 14.75px;
  margin-top: 3px;
  background-image: url("../images/icon/mail.webp");
}
.footer__button > a span.--webshop {
  padding-left: 23px;
}
.footer__button > a span.--webshop:before {
  top: 0;
  left: 0;
  width: 19.92px;
  height: 23.73px;
  margin-top: 0;
  background-image: url("../images/icon/webshop.webp");
}

.copyright {
  text-align: center;
  font-size: 0.625rem;
  letter-spacing: 0.5px;
}
/*# sourceMappingURL=maps/common.css.map */
