@charset "UTF-8";
:root {
  --orange: #D45B00;
  --red: #C80A00;
}

/* ==============================
  || breakpoints
============================== */
/* ==============================
  中央寄せ
============================== */
/* =========================
  index
========================= */
.logo__top {
  width: 74.78px;
  margin: 2rem auto;
}

.catch {
  font-weight: 600;
  text-indent: -2em;
  letter-spacing: 6.6px;
}

@media screen and (min-width: 850px) {
  .catch {
    font-size: 2rem;
    letter-spacing: 9.6px;
  }
  .introduction {
    display: grid;
    grid-template-columns: calc((100% - 105px) / 2) 105px calc((100% - 105px) / 2);
    align-items: center;
    gap: 2rem;
  }
  .introduction .logo__top {
    width: 106.83px;
  }
  .introduction .catch {
    justify-self: end;
  }
  .introduction .text {
    text-align: left;
    margin-left: 1rem;
  }
}
.slider_index {
  margin-bottom: 6rem;
}
.slider_index .slick-slide {
  margin: 0 20px;
}
@media screen and (min-width: 850px) {
  .slider_index {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
  }
  .slider_index .slick-slide {
    margin: 0;
  }
}

.noren {
  position: relative;
  max-width: 1200px;
}
.noren:before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -35px;
  width: 100%;
  height: 60px;
  content: "当店自慢の人気メニュー";
  text-align: center;
  line-height: 60px;
  display: inline-block;
  background-image: url("../images/parts/noren.webp");
  background-size: contain;
  background-position: center center;
}
@media screen and (min-width: 850px) {
  .noren {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
  }
  .noren .food_index--lh-lv2 {
    grid-column: 1/4;
    grid-row: 1/2;
  }
}

.food_index {
  position: relative;
  z-index: 1;
  margin-top: 85px;
  text-align: center;
}
@media screen and (min-width: 850px) {
  .food_index {
    grid-row: 2/3;
  }
}
.food_index--lh-lv2 {
  font-size: 1.375rem;
  font-weight: 600;
  letter-spacing: 2.2px;
  text-align: center;
}
.food_index:before {
  z-index: -1;
  content: "";
  width: 238px;
  height: 85px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -55px;
  background-position: center center;
  background-size: contain;
}
@media screen and (min-width: 850px) {
  .food_index.--001 {
    grid-column: 1/2;
  }
}
.food_index.--001:before {
  background-image: url(../images/index/food_motsu.webp);
}
@media screen and (min-width: 850px) {
  .food_index.--002 {
    grid-column: 2/3;
  }
}
.food_index.--002:before {
  background-image: url(../images/index/food_mizu.webp);
}
@media screen and (min-width: 850px) {
  .food_index.--003 {
    grid-column: 3/4;
  }
}
.food_index.--003:before {
  background-image: url(../images/index/food_ramen.webp);
}

.career__hl-lv2 {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
.career .name {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.career .name span {
  font-size: 0.75rem;
  display: inline-block;
  margin-right: 0.25rem;
}
.career__box {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}
.career__textBox {
  grid-column: 1/3;
  grid-row: 1/2;
}
.career__img--human {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: -50px;
}
.career__img--soup {
  grid-column: 1/2;
  grid-row: 2/3;
}
@media screen and (min-width: 850px) {
  .career__hl-lv2 {
    font-size: 1.375rem;
    padding: 1.25rem 0;
  }
  .career__textBox {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .career__img--human {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-left: -30px;
  }
}

/* =========================
  FOOD
========================= */
.food-menu__wrap {
  margin-bottom: 2rem;
}
.food-menu__wrap--sub {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #fff;
}
.food-menu__wrap > dd {
  padding-left: 1rem;
}
.food-menu__title {
  color: var(--orange);
}
.food-menu__title--sub {
  text-align: center;
}

/* menu design */
dl.food-menu {
  width: 100%;
  font-size: 1rem;
}

dl.food-menu div {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px 0;
  align-items: center;
}

dl.food-menu div::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 100%;
  border-bottom: dotted 1px #fff;
}

dl.food-menu dt {
  margin: 0;
  padding: 0 5px 0 0;
  background-color: #000;
  z-index: 2;
  text-align: left;
}

dl.food-menu dd {
  margin: 0;
  padding: 0 0 0 5px;
  background-color: #000;
  z-index: 2;
  text-align: right;
}

/* background */
body {
  background-color: #e5e5e5;
}

section.test_area {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
}

/* =========================
  ||sales
========================= */
/* =========================
  shopInfo
========================= */
.page_shopInfo .container {
  padding-bottom: 2rem;
}

.shopInfo__wrap {
  margin-bottom: 4rem;
}
.shopInfo__def {
  border-top: 1px solid #fff;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 0.75rem;
  line-height: 2;
}
.shopInfo__def:last-child {
  border-bottom: 1px solid #fff;
}
@media screen and (min-width: 850px) {
  .shopInfo__def {
    display: grid;
    grid-template-columns: 150px 1fr;
    text-align: left;
    padding: 1.5rem 0 1.5rem 1rem;
  }
}

/***** css *****/
#gmap {
  aspect-ratio: 16/9;
  width: 100%;
  max-width: 800px;
  height: 100vw;
  max-height: 518px;
  margin-bottom: 6rem;
}

@media screen and (min-width: 801px) {
  .map {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem;
  }
}
/* =========================
  slider
========================= */
.slick-prev {
  left: 25px;
  z-index: 101;
}

.slick-next {
  right: 25px;
}

@media screen and (min-width: 650px) {
  .slider_index {
    margin-bottom: 6rem;
  }
  .slider_index img {
    width: 75%;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=maps/style.css.map */
